<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required="" id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="text" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid"   type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

















<hr/>
<h1>Nglass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
<hr class="line-error"
  [ngClass]="{
     'valid':nameInput4.valid,
     'invalid':nameInput4.invalid
  }"
 />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>



<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido</p>
  <label>Nombre</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Estilo dinamico activado</p>
<div class="style">
  <div>
    <input type="text" [(ngModel)]="widthImg"/>
  </div>
</div>
<div>
  <img [style.width.px]="widthImg" [src]="person.avatar"/>
</div>

<hr/>



<h1>*ngFor Objs</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
 <p *ngSwitchCase="'nicolas'">
 La persona es Nicolas
 </p>
 <p *ngSwitchCase="'julian'">
  La persona es Julian
  </p>
  <p *ngSwitchCase="'marcos'">
    La persona es Marcos
    </p>
    <p *ngSwitchDefault>No hace math</p>
</div>


<hr/>
<h1>*ngFor Objs</h1>
<div class="pets--grid">
  <div *ngFor="let pet of pets">
    <img width="250"[src]="pet.image" alt="image">
    <h2>{{pet.price}}</h2>
      <p>{{pet.name}}</p>
  </div>
</div>

<hr/>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'nicolas'"> soy Nicolas</p>
<p *ngIf="person.name === 'maria'"> ahora si soy maria</p>


<hr/>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
 <input type="text" [(ngModel)]="person.name" />

 <hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<hr/>

<div class="box" (scroll)="onScroll($event)">
     <p>Hola Maria,
    Aquí va adjunto el extracto de tu Tarjeta de Crédito American Express, correspondiente al mes de Noviembre 2022.
    Para abrirlo solo tienes que digitar tu número de cédula cuando te pida la contraseña y listo.
    También te dejo unos tips adicionales para que manejes tus productos correctamente:</p>
</div>
<p>Nombre {{person.name}}</p>
 <input type="text" [value]="person.name" (keyup)="changeName($event)">

 <hr/>
<h1>Propiedades</h1>
<button [disabled]= "btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max ="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>


<h1>Hola mundo</h1>
<h2>{{'Hola mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{ 3+3}}</p>
<h3>Hola soy {{ name }} y tengo {{ age }}</h3>
<img width="200"src= {{img}} alt="Conejito" style="height: 200px;">

